/* src/styles/Home.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    
    background-color: #a8e992;
    color:black;
    overflow-y: scroll;
    
  }
  
  .title {
    font-size: 6rem;
    margin-bottom: 20px;
    color: black;
    margin-top: 10rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
  }

  .inputRow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .inputContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .buttonPlaceholder {
    width:15rem; /* Width of the buttons container */
  }
  
  .buttonContainer {
    display: flex;
   
  }
  
  .button {
    padding: 1rem 1rem;
    font-size: 1rem;
    color: black;
    background-color: rgb(162, 175, 162);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: rgb(235, 243, 235);
  }

  .form {
    display: flex;
    align-items: center;
    
  }
  
  .roundedInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 1rem;
    margin-right: 10px;
    width: 60rem;
    background-color: #ebebeb;
    color:black;
  }
  
  .submitButton {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #070708;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.5rem;
  }
  
  .submitButton:hover {
    background-color: #005bb5;
  }

  .repoInfo {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 600px;
    color:black;
    overflow-y: scroll;
  }



  .infoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 7rem;
    row-gap: 5rem;
    width: 100%; 
    padding: 1rem;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
  }
  
  .infoBox {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    width: 30%; 
    height:30rem;
    min-height: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow-y: scroll;
    z-index: 1;
  }

  .infoBoxLarge {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    width: 68%; 
    height:30rem;
    min-height: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow-y: scroll;
    z-index: 1;
  }
  
  .infoTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .textBold {
    color: black;
    text-align: center;

  }

  .languagesContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
    
  }
  
  .languageBox {
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
  }

  .projTitle{
    width:68%;
    font-size: 4rem;
    color: black;
    justify-content: left;
    align-items: left;
    text-align: center;

  }




  
  