/* src/styles/Home.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #a8e992;
    color:black;
  }
  
  .title {
    font-size: 6rem;
    margin-bottom: 20px;
    color: black;
  }

  .form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .buttonContainer {
    display: flex;
    gap: 10px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    background-color: rgb(162, 175, 162);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: rgb(235, 243, 235);
  }

  .form {
    display: flex;
    align-items: center;
    
  }
  
  .roundedInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 1rem;
    margin-right: 10px;
    width: 60rem;
    background-color: #ebebeb;
    color:black;
  }
  
  .submitButton {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #070708;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #005bb5;
  }

  .repoInfo {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 600px;
    color:black;
    overflow-y: scroll;
  }

  .infoContainer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    justify-content: center;
    
  }
  
  .infoBox {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    justify-content: center;
  }
  
  .infoTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    justify-content: center;

  }

  .textBold {
    color: black;

  }




  
  